
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_MaterLayout.cshtml";
}
<link href="~/Content/productSS.css" rel="stylesheet" />
<div class="wapper-mainCollection">
    <div class="collection-heading">
        <div class="collection-container">
            <h2>Tat ca san pham</h2>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/18ca778dd0ff454db4b84a0e90eee1f0_54c0ed1d67044baea728e3f9cd211286_large.jpeg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Balo Simili Nap Basic - SNAP</p>
                    <p class="margin-des">440,000</p>
                </div>
            </div>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/28bd6023006e4e7988fb002688ab5040_fd6197f0ae9c4cf494d63908ddacca7b_large.jpg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Medium Leather Basic Balo Kem - MLBBK</p>
                    <p class="margin-des">300,000</p>
                </div>
            </div>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/18ca778dd0ff454db4b84a0e90eee1f0_54c0ed1d67044baea728e3f9cd211286_large.jpeg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Balo Simili Nap Basic - SNAP</p>
                    <p class="margin-des">440,000</p>
                </div>
            </div>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/18ca778dd0ff454db4b84a0e90eee1f0_54c0ed1d67044baea728e3f9cd211286_large.jpeg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Balo Simili Nap Basic - SNAP</p>
                    <p class="margin-des">440,000</p>
                </div>
            </div>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/18ca778dd0ff454db4b84a0e90eee1f0_54c0ed1d67044baea728e3f9cd211286_large.jpeg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Balo Simili Nap Basic - SNAP</p>
                    <p class="margin-des">440,000</p>
                </div>
            </div>
        </div>

        <div id="pro-list">
            <div class="box-pro">
                <img src="https://product.hstatic.net/1000281824/product/18ca778dd0ff454db4b84a0e90eee1f0_54c0ed1d67044baea728e3f9cd211286_large.jpeg" class="size-img" />
                <div class="box-des">
                    <p class="margin-des">Degrey Balo Simili Nap Basic - SNAP</p>
                    <p class="margin-des">440,000</p>
                </div>
            </div>
        </div>
    </div>
</div>


