
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MaterLayout.cshtml";
}

<div class="home-sliders">
    <img src="https://file.hstatic.net/1000281824/file/10_989c651beea742a291c119feb27bf7e0.png" height="765" width="1140" style="margin-left: 174px; margin-right: 174px; padding-left: 15px; padding-right: 15px;"/> 
</div>

